.task-container,
.slide-right{
    height: 100%;
    position: fixed;
}
.task-container > .panel,
.slide-right > .panel{
    height: 100%;
}
.slide-right{
    right: 0;
}
.no-padding-left{
    padding-left: 0 !important;
}
.no-padding-right{
    padding-right: 0 !important;
}
.padding-left-sm{
    padding-left: 5px;
}
.pandding-right-sm{
    padding-right: 5px;
}

.task-list .task-check{
    width: 20px;
}
.task-list .task-operate{
    width: 80px;
}
.task-list .task-completed{
    text-decoration: line-through;
    color: lightgray;
}

@media( max-width: 767px){
    .padding-left-sm{
        padding-left: 0;
    }
}


.login-box{
    margin-top: 50px;
}
.login-tip-box{
    font-size: 12px;
    line-height: 34px;
}